@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: #00ff00;
  font-family: 'Courier New', Courier, monospace;
  overflow: hidden;
}

.handle {
  cursor: move;
}

input {
  background: transparent;
  border: none;
  color: #00ff00;
  font-family: 'Courier New', Courier, monospace;
}

input:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1b26;
}

::-webkit-scrollbar-thumb {
  background: #24283b;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #414868;
}
